/* These styles are generated from project.scss. */
.pd-l-1 {
    padding-left: 1px;
}
.pd-r-1 {
    padding-right: 1px;
}
.pd-l-0 {
    padding-left: 0px;
}
.pd-l-0 {
    padding-right: 0px;
}
.mr-b-5 {
    margin-bottom: 5px;
}
.mr-b-20 {
    margin-bottom: 20px;
}
.mr-b-120 {
    margin-bottom: 120px;
}
.pd-l-r-0 {
    padding: 0px;
}
.pd-t-12 {
    padding-top: 12px;
}



.category-list-product-item {
    height: 350px;
}

#product_like {
    background: transparent;
    border: none;
    color: blue;
}
#add_comment_btn {
    border: none;
    background: transparent;
    color: blue;
    align-items: left;
    padding-left: 75%;
    margin-top: 1%;
}
#user_comment {
    resize: none;
}
.product-detail-comments-block {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-details-name-time {
    font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto';
    color: #666666;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.order-wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: lightgrey;
    padding: 5px;
    margin: 5px;
}
.product-item {
border: 1px solid lightgrey;
border-radius: 15px;
padding: 2px;
padding-left: 10px;
margin-bottom: 10px;
}

//

.category-name {
    padding: 5px 15px;
    padding-top: 10px;
}
.category-box {
    padding: 2px;
}
.category-badge {
    padding: 3px 3px;
    margin-bottom: 4px;
    width: 100%;
}
.btn-filter-form {
    width: 100%;
}
.product-box {
    height: 350px;
}
.cart-item {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer-background {
    background-color: #333;
}