{% extends 'base.html' %}

{% block content %}
    {% for test in tests %}
        <a href="{% url 'main:test_description' test.pk %}">
            <div class="row">
                <div class="col-md-1">
                    {{ test.pk }}
                </div>
                <div class="col-md-6">
                    {{ test.name }}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock content %}