{% extends 'base.html' %}

{% block content %}
    <h3>
        Test - #{{ test_run.test.name }}<br>
        Description - {{ test_run.test.description }}
    </h3>
<form action="{% url 'main:test_run' test_run.pk %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <p>NOT VALID</p>
        {% for errors in form.errors %}
            {{ errors }}
        {% endfor %}
    {% endif %}
    {{ form.as_table }}
    <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}
