{% extends 'base.html' %}

{% block content %}
    <h3>
        Test - #{{ test.name }}<br>
        Description - {{ test.description }}
    </h3>
<form action="{% url 'main:test_description' test.pk %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <button type="submit" class="btn btn-primary">Start test</button>
    </div>
</form>
{% endblock content %}
